
body {
    padding : 50px;
    font-family: museo;
}

@font-face
{
    font-family: 'museo' ;
    src : url('../fonts/museo.otf');
}
nav{
    word-spacing: 10px;
}

nav a{
    text-decoration: none ;
    cursor: pointer;
    color : #888888;
}

nav a:hover {
    text-decoration: underline;
    color : #303030 ;
}

.image-box{
    width : 200px ;
    height: 200px ;
    border-radius: 50% ;
    border : 2px solid #888888 ;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);

}

img{
    width : 225px ;
    height: auto ;

}

form {
    word-spacing: 20px;
}

input[type=text]
{
    border : 1px solid #707070 ;
    font-family:  museo ;
    width : 400px ;
    height: 60px ;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
    outline : none ;
}

input[type=submit]
{
    width : 200px ;
    height: 40px ;
    border : none ;
    background-color: aliceblue ;
    outline : none ;
    font-family: museo ;
    text-align: center;
    font-size: 16px;
    color : #707070 ;
    padding: 10px;
}

input[type=submit]:hover {
    cursor: pointer ;
    background-color: #303030;
    color : #ffffff ;
}

#output-0 {
    color : #D40000 ;
}

.loader {
    position: absolute;
    margin-left : 47% ;
    margin-top : -4% ;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #303030;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none ;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


footer{
    color : #707070 ;
    font-size: 16px ;
    position : fixed ;
    bottom : 100px ;
}
